.navbar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.links {
    .link {
        transition: all .25s;
        &:not(:last-child) {
            margin-right: 20px;
         }
        &:hover {
            color: #a0a0a0;
        }
    }
}